* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  background-color: rgb(53, 186, 53);
  height: 100vh;
  padding: 50px;
}

nav {
  width: 60%;
  margin: 0px auto;
  background-color: rgb(166, 171, 230);
  font-size: 20px;
  height: 0px;
  overflow: hidden;
}

.open {
  width: 60%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: rgb(55, 92, 123);
  padding: 10px;
}

.open i {
  padding: 10px;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul {
  border: 1px solid gainsboro;
  padding: 15px;
}